body {

background-color: powderblue;

}

h3{
  
color: blue;
}

span {

  color: red
  font-family: verdana

}

hr {
  background: powderblue;
  border-style:none;
  border-top:dotted;
  border-width:6;
  border-color:gray;
  width: 4%;
}
